<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
  <channel>
    <title>${APP_DISPLAY_NAME}</title>
    <link>${APPCAST_LINK}</link>
    <description>Updates for ${APP_DISPLAY_NAME}, built with mac-app-builder.</description>
    <language>en</language>
    ${ITEMS}
  </channel>
</rss>
